@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color-green: #008f59;
  --second-color-yellow: #dea650;
  --second-color-opacity: #fcf6ee;
  --primary-color-opacity: #cce9de;
  --grey1: #151515;
  --grey2: #4e4f56;
  --grey3: #b2b4bc;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  text-align: center;
  background-color: var(--second-color-opacity);
}

.grecaptcha-badge {
  visibility: hidden;
}

.grecaptcha-badge.show {
  visibility: visibility;
}

@media (max-width: 750px) {
  body {
    overflow-x: hidden;
  }
}
