/* --------- INÍCIO CONFIG. GERAL HEADER ---------*/
.contentheader {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 100%;
}

.header {
  background-color: var(--second-color-opacity);
  display: flex;
  justify-content: center;
}
/* --------- FIM CONFIG. GERAL HEADER ---------*/

/* --------- INÍCIO CONFIG. NAVEGAÇÃO ---------*/

.menufixo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: var(--second-color-opacity);
  height: 80px;
  align-items: center;
}

.navlist {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navlist li a {
  text-decoration: none;
  color: var(--primary-color-green);
  transition: 0.3s;
  font-size: 1.6rem;
}

.navlist li a:hover {
  opacity: 0.7;
}

.logo {
  max-width: 18.5rem;
  max-height: 4.7rem;
}

.menuBtn {
  display: none;
  border: "none";
  background: "transparent";
  width: 30;
  height: 30;
}

.mobilemenu {
  display: none;
  cursor: pointer;
}

.mobilemenuactive {
  display: none;
}

.mobilemenu div {
  width: 3.2rem;
  height: 0.2rem;
  background-color: var(--primary-color-green);
  margin: 0.8rem;
  transition: 0.3s;
}

/* --------- FIM CONFIG. NAVEGAÇÃO ---------*/

/* --------- INÍCIO CONFIG. GERAL BANNER ---------*/
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: center;
  align-items: center; */
  padding-top: 10rem;
  gap: 2rem;
  /* padding-inline: 3rem; */
}

.textbanner {
  margin: auto 0;
  max-width: 49.8rem;
  text-align: left;
}
/* --------- FIM CONFIG. GERAL BANNER ---------*/

/* --------- INÍCIO CONFIG. BANNER ---------*/
.imagebanner {
  max-width: 100%;
  display: block;
}

.textwelcome {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: var(--primary-color-green);
}

.titlebanner {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
  color: var(--grey1);
}

.descriptionbanner {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--grey2);
}
/* --------- FIM CONFIG. BANNER ---------*/

/* --------- INÍCIO CONFIG. GERAL SESSÃO DE CARDS ---------*/
.sectioncards {
  background-color: white;
  padding-top: 12rem;
}

.contentsection {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 2rem;
}

.listcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 6rem;
  max-width: 120rem;
  gap: 2rem;
  margin: auto;
}

.card svg {
  display: block;
}
/* --------- FIM CONFIG. GERAL SESSÃO DE CARDS ---------*/

/* --------- INÍCIO CONFIG. SESSÃO DE CARDS ---------*/
.card {
  background-color: var(--second-color-opacity);
  padding: 2rem;
  border-radius: 0.6rem;
}

.card:hover {
  box-shadow: 0px 0px 0px 0.5px var(--second-color-yellow) inset;
}

.subtitlesectionexam {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--second-color-yellow);
}

.subtitlesectionreport {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--primary-color-green);
}

.titlesection {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 1.6rem;
}

.titlecard {
  padding-bottom: 1rem;
  padding-top: 1.6rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--grey1);
  text-align: left;
}

.descriptioncard {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--grey2);
  text-align: left;
}

.cardreport svg {
  display: block;
}

.cardreport {
  padding: 2rem;
  border-radius: 0.6rem;
  background-color: var(--primary-color-opacity);
}

.cardreport:hover {
  box-shadow: 0px 0px 0px 0.5px var(--primary-color-green) inset;
}

/* --------- FIM CONFIG. SESSÃO DE CARDS ---------*/

/* --------- INÍCIO CONFIG. GERAL SESSÃO DE ESOCIAL ---------*/
.sectionesocial {
  background-color: white;
  padding-top: 12rem;
  align-items: center;
}

.listesocial {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 3rem;
  padding-top: 6rem;
  max-width: 80rem;
  margin: auto;
  gap: 8rem;
}

.logoesocial {
  margin-bottom: 3rem;
  height: 6rem;
  justify-content: center;
  flex: 1;
  cursor: pointer;
}

.contentlistesocial {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  max-height: 200px;
  margin: auto;
  padding-inline: 2rem;
  align-items: center;
}

.listlogoesocial {
  background-color: var(--primary-color-opacity);
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: auto;
}

/* --------- FIM CONFIG. GERAL SESSÃO DE ESOCIAL ---------*/

/* --------- INÍCIO CONFIG. SESSÃO DE ESOCIAL ---------*/
.itemlogoesocial {
  max-width: 70%;
  margin: auto;
  cursor: pointer;
}

.titlelistesocial {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  text-align: center;
  color: var(--grey1);
}

.descriptionlistesocial {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-align: center;
  color: var(--grey2);
}

.initialslistesocial {
  background-color: var(--primary-color-green);
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: center;
  width: 12.9rem;
  height: 4rem;
  color: white;
  text-transform: uppercase;
  border-radius: 0.6rem;
  margin: auto;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* --------- FIM CONFIG. SESSÃO DE ESOCIAL ---------*/

/* --------- INÍCIO CONFIG. GERAL SESSÃO DE PLANOS ---------*/
.sectionplan {
  background-color: white;
  padding-top: 12rem;
  padding-bottom: 7rem;
  align-items: center;
}

.contentplan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 4rem;
}

.infoplan {
  max-width: 31.4rem;
  margin: auto;
}

/* --------- FIM CONFIG. GERAL SESSÃO DE PLANOS ---------*/

/* --------- INÍCIO CONFIG. SESSÃO DE PLANOS ---------*/
.contentplan img {
  max-width: 80%;
  margin: 0;
}

.titleplan {
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 6.2rem;
  text-transform: uppercase;
  color: var(--primary-color-green);
  -webkit-text-stroke: 1px var(--primary-color-green);
  text-align: left;
}

.descriptionplan {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.1rem;
  color: var(--grey2);
  text-align: left;
  max-width: 25.3rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--grey3);
}

.contentprice {
  padding-top: 1.6rem;
}

/* hr {
  color: var(--grey3);
  opacity: 50%;
} */

.adicionaltextplan {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-align: center;
}

.contentprice strong {
  font-style: normal;
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 7rem;
  color: var(--primary-color-green);
}

.priceplan {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--primary-color-green);
}

.buttonplan {
  margin-top: 3rem;
  color: white;
  background-color: var(--primary-color-green);
  display: block;
  width: 25rem;
  height: 4rem;
  border-radius: 0.6rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* --------- FIM CONFIG. SESSÃO DE PLANOS ---------*/
.sectioncontact {
  background-color: var(--primary-color-opacity);
  align-items: center;
}

.contentcontact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

/*INÍCIO FORM CONTATO*/
.sectionform {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding-top: 12rem;
}

.titlecontainer .subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 27px;
  color: var(--primary-color-green);
}

.titlecontainer .title {
  font-size: 4rem;
  color: var(--grey1);
}

/* --------- INÍCIO CONFIG. GERAL SESSÃO DE CONTATOS ---------*/
.titlecontact {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  text-align: center;
  max-width: 46.6rem;
  color: var(--grey1);
  padding-bottom: 4rem;
  margin: auto;
}

.namemanager {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 140.7%;
  text-align: center;
  text-transform: uppercase;
  color: var(--grey1);
}

.functionmanager {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 140.7%;
  text-align: center;
  text-transform: uppercase;
  color: var(--grey1);
}

.listsocialmanager {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-top: 3rem;
}

.socialmanager {
  text-decoration: none;
  color: var(--primary-color-green);
  font-size: 1.6rem;
  cursor: pointer;
}

.socialmail {
  display: grid;
  grid-template-columns: 1fr;
  text-decoration: none;
  color: var(--primary-color-green);
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
}

.textsocialmanager {
  padding-top: 0.5rem;
}

/* -------------------------------------------------*/

.listsocialcompany {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary-color-green);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-inline: 10rem;
  align-items: center;
  justify-content: center;
}

.socialcompany {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140.7%;
  text-align: center;
}

/* --------- FIM CONFIG. GERAL SESSÃO DE CONTATOS ---------*/

/* --------- INÍCIO CONFIG. SESSÃO DO FOOTER ---------*/
.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--second-color-yellow);
}

.textFooter {
  font-size: 1.4rem;
  color: white;
}

.footer .footerCompany {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.footer .footerRights {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
/* --------- FIM CONFIG. SESSÃO DO FOOTER ---------*/

/* --------- INÍCIO MEDIA QUERIES ---------*/

@media (max-width: 1000px) {
  .titlebanner {
    font-size: 3rem;
    line-height: 4rem;
  }
  .descriptionbanner {
    font-size: 1.3rem;
  }
  .banner {
    padding-top: 11rem;
    gap: 4rem;
  }
  .contentplan img {
    margin-top: 4rem;
    max-width: 80%;
  }
  .contentcontact {
    grid-template-columns: 1fr;
  }
  .list-map-social iframe {
    padding-top: 3rem;
    width: 100%;
  }

  /*INÍCIO FORM CONTATO*/
  .sectionform .form {
    gap: 0rem;
  }

  .sectionform.form .formstack {
    flex-direction: column;
    gap: 1rem;
  }

  .formgroup {
    width: 90%;
  }

  .formtextarea {
    width: 90%;
  }

  .formcheck {
    align-items: flex-start;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .btnform {
    justify-content: center;
    width: 90%;
  }
}

@media (max-width: 850px) {
  .banner {
    grid-template-columns: 1fr;
  }
  .imagebanner {
    max-width: 100%;
    padding-inline: 3rem;
  }
  .textbanner {
    margin: 0 auto;
    max-width: 49.8rem;
    text-align: center;
    margin-top: 2rem;
  }
  .listesocial {
    margin-inline: 4rem;
  }
  .descriptionlistesocial {
    font-size: 1.5rem;
  }
}

@media (max-width: 750px) {
  .listcards {
    grid-template-columns: 1fr;
  }
  .descriptioncard,
  .titlecard {
    text-align: center;
  }
  .card svg {
    display: inline;
  }
  .contentplan {
    grid-template-columns: 1fr;
  }
  .infoplan {
    padding-top: 3rem;
  }
  .title-plan {
    font-size: 4rem;
    text-align: center;
  }

  .descriptionplan {
    text-align: center;
  }
  .sectionplan img {
    margin-inline: auto;
    max-width: 70%;
  }
  .listesocial {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .contentlistesocial {
    grid-template-columns: 1fr;
    max-width: 750px;
    height: auto;
    gap: 2rem;
  }
  .listlogoesocial {
    height: 680px;
  }
  .itemlogoesocial {
    max-width: 19rem;
  }

  .navlist {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background-color: var(--second-color-opacity);
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 3rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .navlist li a {
    font-size: 2rem;
  }

  .navlist li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.navlistactive {
  transform: translateX(0);
  position: absolute;
  top: 8vh;
  right: 0;
  width: 100vw;
  height: 92vh;
  background-color: var(--second-color-opacity);
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  gap: 3rem;
  transition: transform 0.3s ease-in;
}

.navlistactive li a {
  font-size: 2rem;
  text-decoration: none;
  color: #008f59;
  line-height: 3;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.menuBtn {
  display: block;
}

.mobilemenu {
  display: block;
}

.mobilemenuactive {
  cursor: pointer;
  display: block;
}

.mobilemenuactive div {
  width: 3.2rem;
  height: 0.2rem;
  background-color: var(--primary-color-green);
  margin: 0.8rem;
  transition: 0.3s;
}

.mobilemenuactive .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobilemenuactive .line2 {
  opacity: 0;
}

.mobilemenuactive .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 550px) {
  .textsocialcompany {
    font-size: 1.4rem;
  }
  .listsocialcompany {
    padding-inline: 3rem;
  }
}

@media (max-width: 450px) {
  .imagebanner {
    max-width: 100%;
  }
  .titlesection {
    font-size: 2.4rem;
  }
  .listcards {
    padding-bottom: 3rem;
  }
  .contentplan img {
    max-width: 80%;
  }
  .titlecontact {
    font-size: 3.4rem;
  }
}

/* --------- FIM MEDIA QUERIES ---------*/
